<ion-view view-title="Events" ng-controller="addEventsCtrl">
 <ion-nav-buttons side="left">
   <button class="button button-clear" ng-click="goBack()" >
    <i class="icon ion-ios-arrow-back"></i> Back
   </button>
  </ion-nav-buttons> 

 <ion-content>
 
  <label class="item item-input">
  <span class="input-label">Event Date:</span>
   <input type="text" name="eventDate" ng-model="eventObj.eventDate" placeholder="Event Date" disabled="disabled">
  </label>

  <label class="item item-input">
  <span class="input-label">Event Name:</span>
   <input type="text" name="eventName" ng-model="eventObj.eventName" placeholder="Event Name"/>
  </label>

  <label class="item item-input">
  <span class="input-label">Select Location:</span>
   <span ng-if="eventObj.address == undefined">
    <input type="text" ng-model="eventObj.address" ng-focus="disableTap()" id="location" googleplace placeholder="Type your Location..."/>
   </span>
   <span ng-if="eventObj.address != undefined">
    <input type="text" ng-model="eventObj.address" ng-focus="disableTap()" id="location" googleplace />
   </span> 
  </label>
  
 <div id="main">
  <label class="item item-input inp" ng-click="startTimePick()" >
   <span class="input-label">From:</span>
   <span ng-if="eventObj.eventStartTime == undefined">
    <input id="startText" type="text" name="startDate" ng-model="eventObj.eventStartTime" placeholder="Event Start Time" disabled="disabled"></input>
   </span>
   <span ng-if="eventObj.eventStartTime != undefined">
    <input id="startText" type="text" name="startDate" ng-model="eventObj.eventStartTime" disabled="disabled"></input>
   </span>
  </label>
  
  <label class="item item-input inp" ng-click="endTimePick()" ng-show="endTimeVisibility">
   <span class="input-label">To:</span>
   <span ng-if="eventObj.eventEndTime == undefined"> 
    <input id="endText" type="text" name="endDate" ng-model="eventObj.eventEndTime" placeholder="Event End Time" disabled="disabled"></input>
   </span>
   <span ng-if="eventObj.eventEndTime != undefined"> 
    <input id="endText" type="text" name="endDate" ng-model="eventObj.eventEndTime" disabled="disabled"></input>
   </span> 
  </label>
  
  <label class="item item-input inp">
   <textarea name="eventTask" ng-model="eventObj.eventTask" placeholder="Description" required></textarea>
  </label>
    
 </div> 

  <button style="width:48%;" class="button button-positive" ng-disabled="saveDisable"  ng-click="save()">Save</button>  
  <button style="width:48%;" class="button button-positive" ng-show="visibility" ng-disabled="addDisable" ng-click="add()">Add More Task</button>
  <button class="button button-positive button-block" ng-show="visibility" ng-click="finish()">Finish</button>

 </ion-content>
</ion-view>