<ion-view view-title="Calender" ng-controller="calCtrl">
 <ion-header-bar class="sub-head bar-dark" style="position:relative;" >
  <button class="button button-clear button-positive" style="position:relative; width:auto;display:inline;" ng-click="">
     <i class="ion-android-cancel" style="font-size:32px; padding-left:8px; position:absolute; color:white;text-align:center;top:0px;"> </i>
  </button>
 </ion-header-bar>
<div id="calenderDiv">
 <ion-content>
  <onezone-datepicker datepicker-object="onezoneDatepicker">
    
  </onezone-datepicker>

 <div id="scrollArea">
  <ion-list>
   <ion-item class="cal-item" ng-repeat="value in monthEventsArr" ng-click="showFullEvent(value)"> 
      <div class="cal-time">
        <span>{{value.eventDate}}</span>
      </div>

      <div class="cal-task">
        <div ng-if="value.eventName != undefined"> 
         <p> {{value.eventName}} </p>
        </div>  
       <p> {{value.eventTask}} </p>      
    </ion-item> 
  </ion-list> 
 </div> 
 
 </div>
 </ion-content>
</ion-view>  