<ion-view view-title="No Events" ng-controller="emptyEventsPageCtrl">
<!-- <ion-nav-buttons side="left">
   <button class="button button-clear" ng-click="goBack()" >
    <i class="icon ion-ios-arrow-back"></i> Back
   </button>
  </ion-nav-buttons>
 -->
 <ion-header-bar class="sub-head bar-dark" style="position:relative;" >
    <button class="button button-clear button-positive" style="position:relative; width:auto;display:inline;" ng-click="goBack()">
     <i class="ion-android-cancel" style="font-size:32px; padding-left:8px; position:absolute; color:white;text-align:center;top:0px;"> </i>
    </button>
 </ion-header-bar>
   
 <ion-floating-button click="addEvents()" has-footer="false" button-color="#387ef5" icon="ion-plus" icon-color="#fff">
 </ion-floating-button>

 <ion-content>
   <p style="position:absolute;left:45%;top:40%;">No Events</p>
 </ion-content>
</ion-view>