<ion-view view-title="{{myEventDate}}" ng-controller="event1Ctrl">
 <ion-nav-buttons side="left">
   <button class="button button-clear" ng-click="goBack()" >
    <i class="icon ion-ios-arrow-back"></i> Back
   </button>
  </ion-nav-buttons> 

   <ion-floating-button click="addEvents()" has-footer="false" button-color="#387ef5" icon="ion-plus" icon-color="#fff">
 </ion-floating-button>

 <ion-content>
  <ion-list class="cal-list1">

    <ion-item class="cal-item1" ng-repeat="value in eventData" ng-click="showFullEvent($index, value)"> 
      <div class="cal-time1">
        <span>{{value.eventStartTime}}</span>
         <div ng-if="value.eventEndTime != undefined">
          <span> {{value.eventEndTime}}</span>
         </div>
      </div>

      <div class="cal-task1">
        <div ng-if="value.eventName != undefined"> 
         <h3> {{value.eventName}} </h3>
        </div>  
 
       <p> {{value.eventTask}} </p>  
<!--
       <div ng-if="value.long != undefined && value.lat != undefined"> 
        <p style="color:powderblue;" ng-click="map(value.long, value.lat, value.address)"><i class="icon ion-location"></i><span>Location</span></p>
       </div>
      </div> 
-->      
    </ion-item>    
  </ion-list>
 </ion-content>
</ion-view>