<ion-view view-title="Event">
 <ion-content>
  <ion-list class="cal-list">
   <ion-item class="cal-item">
     <div class="cal-time">
      <span>08:00</span>
     </div>
     <div class="cal-task"> 
      <p> Wake Up </p>   
     </div>    
   </ion-item>

   <ion-item class="cal-item">
     <div class="cal-time">
      <span>12:15</span>
     </div>
     <div class="cal-task"> 
      <p>meeting with the team, discussing the project requirements </p>
     </div>    
   </ion-item>

   <ion-item class="cal-item">
     <div class="cal-time">
      <span>13:00</span>
     </div>
     <div class="cal-task"> 
      <p>lunch with Peter</p>
     </div>    
   </ion-item>

   <ion-item class="cal-item">
     <div class="cal-time">
      <span>14:30</span>
     </div>
     <div class="cal-task"> 
      <p>call with Johnathan and Stevie</p>
     </div>    
   </ion-item>

   <ion-item class="cal-item">
     <div class="cal-time">
      <span>16:45</span>
     </div>
     <div class="cal-task"> 
      <p>project presentation</p>
     </div>    
   </ion-item>

   <ion-item class="cal-item">
     <div class="cal-time">
      <span>18:00</span>
     </div>
     <div class="cal-task"> 
      <p>call with Johnathan and Stevie</p>
     </div>    
   </ion-item>

   <ion-item class="cal-item">
     <div class="cal-time">
      <span>19:00</span>
     </div>
     <div class="cal-task"> 
      <p>David's birthday party</p>
     </div>    
   </ion-item>
    
  </ion-list>
 </ion-content>
</ion-view>