<ion-view view-title="{{myEventDate}}" ng-controller="event1Ctrl">
<!-- <ion-nav-buttons side="left">
   <button class="button button-clear" ng-click="goBack()" >
    <i class="icon ion-ios-arrow-back"></i> Back
   </button>
  </ion-nav-buttons> 
-->
  <ion-header-bar class="sub-head bar-dark" style="position:relative;" >
    <button class="button button-clear button-positive" style="position:relative; width:auto;display:inline;" ng-click="goBack()">
     <i class="ion-android-cancel" style="font-size:32px; padding-left:8px; position:absolute; color:white;text-align:center;top:0px;"> </i>
    </button>
    <h4 style="color:white;margin:auto;">{{myEventDate}}</h4>
  </ion-header-bar> 

  <ion-floating-button click="addEvents()" has-footer="false" button-color="#000" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>

 <ion-content>
 <div ng-if="eventData.length != 0">
  <div id="dayEvents">
   <ion-list class="cal-list">
     <ion-item class="cal-item" ng-repeat="value in eventData" ng-click="showFullEvent(value)"> 
       <div class="cal-time">
         <span>{{value.eventStartTime}}</span>
          <div ng-if="value.eventEndTime != undefined && value.eventEndTime != value.eventStartTime">
           <span> {{value.eventEndTime}}</span>
          </div>
       </div>
        
       <div class="cal-task">
         <div ng-if="value.eventName != undefined"> 
          <p> {{value.eventName}} </p>
         </div>  
         <p> {{value.eventTask}} </p>  
       </div>       
     </ion-item>     
   </ion-list>
  </div>
 </div>
 <div ng-if="eventData.length == 0">
   <p style="position:absolute;top:35vh;left:45%;">No Events</p>
 </div>
 </ion-content>
</ion-view>