<ion-view view-title="event Details" ng-controller="showFullEventCtrl">
 <ion-header-bar class="sub-head bar-dark" style="position:relative;border:0px;" >
   <button class="button button-clear button-positive" style="position:relative; width:auto;display:inline;" ng-click="goBack()">
    <i class="ion-android-cancel" style="font-size:32px; padding-left:8px; position:absolute; color:white;text-align:center;top:0px;"> </i>
   </button>
 </ion-header-bar>
  
<div ng-if = "AppUserInformation.WritePriv == true">
 <ion-floating-button bottom="90px" click="deleteEvent()" has-footer="false" button-color="#000" icon="ion-trash-b" icon-color="#fff">
 </ion-floating-button>

 <ion-floating-button click="editEvent()" has-footer="false" button-color="#000" icon="ion-edit" icon-color="#fff">
 </ion-floating-button>
</div> 

 <ion-content>
        
   <ion-list class="eventDetailsList1" style="">
    <ion-item id="eNameItem" style="min-height:60px; border:1px solid black;text-align:center;"> 
     <span>  {{fullEvent.eventName}}</span><br/>
    </ion-item>
   </ion-list>

   <ion-list class="eventDetailsList2">
    <ion-item> 
     <div class="iconDiv"><i class="icon ion-android-time"></i></div>
     <div class="oDiv"><span> {{fullEvent.eventDate}}     </span> <br/> 
                       <span> {{fullEvent.eventStartTime}}</span> 
                       <span ng-if="fullEvent.eventEndTime != undefined && fullEvent.eventEndTime != ''"> - {{fullEvent.eventEndTime}}</span>
     </div>
    </ion-item>

    <ion-item ng-if='fullEvent.long != undefined && fullEvent.long != ""'> 
     <div class="iconDiv"><i style="color:red;" class="icon ion-location"></i></div>
     <div class="oDiv" style="word-wrap: break-word;white-space:pre-wrap;color:blue;" ng-click="map(fullEvent.long, fullEvent.lat, fullEvent.address)"><span>{{fullEvent.address}} </span> </div>      
    </ion-item>

    <ion-item ng-if='fullEvent.eventTask != undefined && fullEvent.eventTask != ""'> 
     <div class="iconDiv"><i style="color:blue;" class="icon ion-android-list"></i></div>
     <div class="oDiv"> <span style="word-wrap: break-word;white-space:pre-wrap;">{{fullEvent.eventTask}} </span></div>  
    </ion-item>
  
  </ion-list>

 </ion-content> 

</ion-view>