<ion-view view-title="event Details" ng-controller="showFullEventCtrl">

  <ion-nav-buttons side="left">
   <button class="button button-clear" ng-click="goBack()" >
    <i class="icon ion-ios-arrow-back"></i> Back
   </button>
  </ion-nav-buttons> 
  
<div ng-hide = "hideEditnDeleteBtn">
 <ion-floating-button bottom="90px" click="deleteEvent()" has-footer="false" button-color="#387ef5" icon="ion-trash-b" icon-color="#fff">
 </ion-floating-button>

 <ion-floating-button click="editEvent()" has-footer="false" button-color="#387ef5" icon="ion-edit" icon-color="#fff">
 </ion-floating-button>
</div> 
 <ion-content>
   <ion-list>

    <ion-item ng-if="fullEvent.eventName != undefined"> 
     <span>Event Name :</span>
     <span> {{fullEvent.eventName}} </span>
    </ion-item>
    <ion-item> 
     <span>Event Date:</span>
     <span> {{fullEvent.eventDate}} </span>
    </ion-item>

    <ion-item> 
      <span>Timings : {{fullEvent.eventStartTime}}</span> 
      <span ng-if="fullEvent.eventEndTime != undefined"> - {{fullEvent.eventEndTime}}</span>       
    </ion-item>

    <ion-item ng-if="fullEvent.long != undefined"> 
     <span>Location:</span>
     <p style="word-wrap: break-word;white-space:pre-wrap;color:blue;" ng-click="map(fullEvent.long, fullEvent.lat, fullEvent.address)"><i class="icon ion-location"></i> {{fullEvent.address}}</p>
    </ion-item>

    <ion-item> 
     <span>Description:</span>
      <p style="word-wrap: break-word;white-space:pre-wrap;"> {{fullEvent.eventTask}} </p>  
    </ion-item>
  
  </ion-list>

 </ion-content>
</ion-view>